
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-bold{
    font-weight: bold;
}
/* .container{
    max-width: 1140px;
    margin: 0px auto;
} */
.container-full{
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.d-flex{
    display: flex;
    
}
.bg-black{
    background-color: black;
}
.color-white{
    color: white;
}
.pr-10{
    padding-right: 10px;
}
.justify-content-between{
    justify-content: space-between;
}