<div id="footer">
    <div class="container">
        <div class="box logo-footer">
            <div class="box-head">
                <h3>UNITOP</h3>
            </div>
            <div class="box-body">
                <a href="">
                    <img id="logo-image" src="/img/logo.png" alt="">
                </a>
            </div>
        </div>
        <div class="box about-us">
            <div class="box-head">
                <h3>Về chúng tôi</h3>
            </div>
            <div class="box-body">
                <p>HuyTranNewspaper là Báo tiếng Việt nhiều người xem nhất. Luôn cập nhật chính xác tin tức từ mọi miền
                    tổ quốc
                </p>
                <a href="">http://HuyTranNewspaper.com</a>
            </div>
        </div>
        <div class="box follow-us">
            <div class="box-head">
                <h3>Theo dõi</h3>
            </div>
            <div class="box-body">
                <ul class="list-social d-flex">
                    <li>
                        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa-brands fa-pinterest-square"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>