<div id="wrapper">
    <div id="header">
        <div class="container justify-content-between">
            <a id="logo" href="/">
                <img src="/img/logo.png" alt="">
            </a>
            <!-- End logo  -->
            <form action="text" id="search">
                <input type="text" name="q" placeholder="Bạn muốn tìm gì">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="container">
            <nav>
                <!-- ul#main-menu>li*8>a{Item $}  -->
                <ul id="main-menu" class="d-flex">
                    <li><a href="">Trang chủ</a></li>
                    <li class="active"><a href="">Thời trang</a></li>
                    <li><a href="">Đời sống</a></li>
                    <li><a href="">Xã hội</a></li>
                    <li><a href="">Bóng đá</a></li>
                    <li><a href="">Video</a></li>
                    <li><a href="">Sự kiện</a></li>
                    <li><a href="">Liên hệ</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="https://cdn.pixabay.com/photo/2021/08/02/05/17/sunflower-6515860__340.jpg" alt=""
                                class="user-avatar">
                            Huy Trần
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/newses/create">Đăng khóa học</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/me/stored/newses">Khóa học của tôi</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/me/stored/newses">Bài viết của tôi</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Đăng xuất</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>